In [1]:
from pyspark import SparkConf, SparkContext
import pyspark

conf = SparkConf().setAppName('myApp2').setMaster('local')
sc = SparkContext(conf=conf)

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession(sc)

In [4]:
df = spark.read.format('json').load('C:\\Users\\daesi\\Downloads\\2015-summary.json')
df

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint]

In [5]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [6]:
df.collect()[:3]

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344)]

In [7]:
df.show(3)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
+-----------------+-------------------+-----+
only showing top 3 rows

In [8]:
df.count()

256

In [10]:
df.select(df['count']).show(5)

+-----+
|count|
+-----+
|   15|
|    1|
|  344|
|   15|
|   62|
+-----+
only showing top 5 rows

In [11]:
df2= df.select('DEST_COUNTRY_NAME')
df2.show()

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|       United States|
|       United States|
|       United States|
|               Egypt|
|       United States|
|       United States|
|       United States|
|          Costa Rica|
|             Senegal|
|             Moldova|
|       United States|
|       United States|
|              Guyana|
|               Malta|
|            Anguilla|
|             Bolivia|
|       United States|
|             Algeria|
|Turks and Caicos ...|
|       United States|
+--------------------+
only showing top 20 rows

In [19]:
df2= df.select('DEST_COUNTRY_NAME').dropDuplicates()
df2.show()

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|            Anguilla|
|              Russia|
|            Paraguay|
|             Senegal|
|              Sweden|
|            Kiribati|
|              Guyana|
|         Philippines|
|            Djibouti|
|            Malaysia|
|           Singapore|
|                Fiji|
|              Turkey|
|                Iraq|
|             Germany|
|              Jordan|
|               Palau|
|Turks and Caicos ...|
|              France|
|              Greece|
+--------------------+
only showing top 20 rows

In [14]:
df2.distinct().count()

132

In [15]:
df.show(df.count())

+--------------------+--------------------+------+
|   DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME| count|
+--------------------+--------------------+------+
|       United States|             Romania|    15|
|       United States|             Croatia|     1|
|       United States|             Ireland|   344|
|               Egypt|       United States|    15|
|       United States|               India|    62|
|       United States|           Singapore|     1|
|       United States|             Grenada|    62|
|          Costa Rica|       United States|   588|
|             Senegal|       United States|    40|
|             Moldova|       United States|     1|
|       United States|        Sint Maarten|   325|
|       United States|    Marshall Islands|    39|
|              Guyana|       United States|    64|
|               Malta|       United States|     1|
|            Anguilla|       United States|    41|
|             Bolivia|       United States|    30|
|       United States|            Paraguay|     6|
|             Algeria|       United States|     4|
|Turks and Caicos ...|       United States|   230|
|       United States|           Gibraltar|     1|
|Saint Vincent and...|       United States|     1|
|               Italy|       United States|   382|
|       United States|Federated States ...|    69|
|       United States|              Russia|   161|
|            Pakistan|       United States|    12|
|       United States|         Netherlands|   660|
|             Iceland|       United States|   181|
|    Marshall Islands|       United States|    42|
|          Luxembourg|       United States|   155|
|            Honduras|       United States|   362|
|         The Bahamas|       United States|   955|
|       United States|             Senegal|    42|
|         El Salvador|       United States|   561|
|               Samoa|       United States|    25|
|       United States|              Angola|    13|
|         Switzerland|       United States|   294|
|       United States|            Anguilla|    38|
|        Sint Maarten|       United States|   325|
|           Hong Kong|       United States|   332|
| Trinidad and Tobago|       United States|   211|
|              Latvia|       United States|    19|
|       United States|             Ecuador|   300|
|            Suriname|       United States|     1|
|              Mexico|       United States|  7140|
|       United States|              Cyprus|     1|
|             Ecuador|       United States|   268|
|       United States|            Portugal|   134|
|       United States|          Costa Rica|   608|
|       United States|           Guatemala|   318|
|       United States|            Suriname|    34|
|            Colombia|       United States|   873|
|       United States|          Cape Verde|    14|
|       United States|             Jamaica|   712|
|              Norway|       United States|   121|
|       United States|            Malaysia|     3|
|       United States|             Morocco|    19|
|            Thailand|       United States|     3|
|       United States|               Samoa|    25|
|           Venezuela|       United States|   290|
|       United States|               Palau|    31|
|       United States|           Venezuela|   246|
|              Panama|       United States|   510|
| Antigua and Barbuda|       United States|   126|
|       United States|               Chile|   185|
|             Morocco|       United States|    15|
|       United States|             Finland|    28|
|          Azerbaijan|       United States|    21|
|       United States|              Greece|    23|
|       United States|         The Bahamas|   986|
|         New Zealand|       United States|   111|
|             Liberia|       United States|     2|
|       United States|           Hong Kong|   414|
|             Hungary|       United States|     2|
|       United States|               China|   920|
|       United States|             Vietnam|     2|
|        Burkina Faso|       United States|     1|
|              Sweden|       United States|   118|
|       United States|              Kuwait|    28|
|       United States|  Dominican Republic|  1420|
|       United States|               Egypt|    12|
|              Israel|       United States|   134|
|       United States|       United States|370002|
|            Ethiopia|       United States|    13|
|       United States|          Luxembourg|   134|
|       United States|              Poland|    33|
|          Martinique|       United States|    44|
|       United States|    Saint Barthelemy|    41|
|    Saint Barthelemy|       United States|    39|
|            Barbados|       United States|   154|
|       United States|              Turkey|   129|
|            Djibouti|       United States|     1|
|       United States|          Azerbaijan|    21|
|       United States|             Estonia|     1|
|             Germany|       United States|  1468|
|       United States|         South Korea|   827|
|       United States|         El Salvador|   508|
|             Ireland|       United States|   335|
|       United States|             Hungary|     3|
|              Zambia|       United States|     1|
|            Malaysia|       United States|     2|
|       United States|            Ethiopia|    12|
|       United States|              Panama|   465|
|       United States|               Aruba|   342|
|       United States|            Thailand|     4|
|       United States|Turks and Caicos ...|   236|
|             Croatia|       United States|     2|
|       United States|            Pakistan|    12|
|              Cyprus|       United States|     1|
|       United States|            Honduras|   407|
|                Fiji|       United States|    24|
|               Qatar|       United States|   108|
|Saint Kitts and N...|       United States|   139|
|              Kuwait|       United States|    32|
|              Taiwan|       United States|   266|
|               Haiti|       United States|   226|
|              Canada|       United States|  8399|
|Federated States ...|       United States|    69|
|       United States|             Liberia|     2|
|             Jamaica|       United States|   666|
|       United States|               Malta|     2|
|  Dominican Republic|       United States|  1353|
|               Japan|       United States|  1548|
|       United States|           Lithuania|     1|
|             Finland|       United States|    26|
|       United States|          Guadeloupe|    59|
|       United States|             Ukraine|    13|
|       United States|              France|   952|
|       United States|              Norway|   115|
|               Aruba|       United States|   346|
|       French Guiana|       United States|     5|
|       United States|            Kiribati|    35|
|               India|       United States|    61|
|British Virgin Is...|       United States|   107|
|              Brazil|       United States|   853|
|       United States|             Germany|  1336|
|       United States|         New Zealand|    74|
|    French Polynesia|       United States|    43|
|United Arab Emirates|       United States|   320|
|           Singapore|       United States|     3|
|       United States|              Mexico|  7187|
|       United States|              Sweden|   119|
|         Netherlands|       United States|   776|
|       United States|          Martinique|    43|
|       United States|United Arab Emirates|   313|
|       United States|            Bulgaria|     1|
|             Denmark|       United States|   153|
|               China|       United States|   772|
|       United States|           Nicaragua|   201|
|       United States|         Philippines|   126|
|       United States|             Georgia|     1|
|       United States|             Belgium|   228|
|      Cayman Islands|       United States|   314|
|           Argentina|       United States|   180|
|                Peru|       United States|   279|
|        South Africa|       United States|    36|
|       United States|             Iceland|   202|
|       United States|           Argentina|   141|
|               Spain|       United States|   420|
|             Bermuda|       United States|   183|
|       United States|             Nigeria|    50|
|       United States|             Austria|    63|
|       United States|Bonaire, Sint Eus...|    59|
|            Kiribati|       United States|    26|
|        Saudi Arabia|       United States|    83|
|      Czech Republic|       United States|    13|
|       United States|              Israel|   127|
|             Belgium|       United States|   259|
|       United States|         Saint Lucia|   136|
|       United States|             Bahrain|     1|
|       United States|British Virgin Is...|    80|
|             Curacao|       United States|    90|
|             Georgia|       United States|     2|
|       United States|             Denmark|   152|
|       United States|              Guyana|    63|
|         Philippines|       United States|   134|
|             Grenada|       United States|    53|
|          Cape Verde|       United States|    20|
|       Cote d'Ivoire|       United States|     1|
|             Ukraine|       United States|    14|
|       United States|    Papua New Guinea|     1|
|              Russia|       United States|   176|
|       United States|        Saudi Arabia|    70|
|           Guatemala|       United States|   397|
|         Saint Lucia|       United States|   123|
|            Paraguay|       United States|    60|
|       United States|             Curacao|    83|
|              Kosovo|       United States|     1|
|       United States|              Taiwan|   235|
|             Tunisia|       United States|     3|
|       United States|        South Africa|    40|
|               Niger|       United States|     2|
|              Turkey|       United States|   138|
|      United Kingdom|       United States|  2025|
|             Romania|       United States|    14|
|       United States|           Greenland|     4|
|    Papua New Guinea|       United States|     3|
|       United States|               Spain|   442|
|                Iraq|       United States|     1|
|       United States|               Italy|   438|
|                Cuba|       United States|   466|
|       United States|         Switzerland|   305|
|            Dominica|       United States|    20|
|       United States|               Japan|  1496|
|            Portugal|       United States|   127|
|       United States|              Brazil|   619|
|             Bahrain|       United States|    19|
|       United States|                Peru|   337|
|           Indonesia|       United States|     1|
|       United States|              Belize|   193|
|       United States|      United Kingdom|  1970|
|              Belize|       United States|   188|
|       United States|               Ghana|    20|
|       United States|           Indonesia|     2|
|       United States|                Fiji|    25|
|       United States|              Canada|  8483|
|       United States| Antigua and Barbuda|   117|
|       United States|    French Polynesia|    40|
|           Nicaragua|       United States|   179|
|       United States|              Latvia|    15|
|       United States|            Dominica|    27|
|       United States|      Czech Republic|    12|
|       United States|           Australia|   258|
|       United States|        Cook Islands|    13|
|             Austria|       United States|    62|
|              Jordan|       United States|    44|
|               Palau|       United States|    30|
|         South Korea|       United States|  1048|
|              Angola|       United States|    15|
|               Ghana|       United States|    18|
|       New Caledonia|       United States|     1|
|          Guadeloupe|       United States|    56|
|              France|       United States|   935|
|              Poland|       United States|    32|
|             Nigeria|       United States|    59|
|       United States|             Uruguay|    13|
|           Greenland|       United States|     2|
|       United States|             Bermuda|   193|
|               Chile|       United States|   174|
|       United States|                Cuba|   478|
|       United States|          Montenegro|     1|
|       United States|            Colombia|   867|
|       United States|            Barbados|   130|
|       United States|               Qatar|   109|
|           Australia|       United States|   329|
|       United States|      Cayman Islands|   310|
|       United States|              Jordan|    44|
|       United States|             Namibia|     1|
|       United States| Trinidad and Tobago|   217|
|       United States|             Bolivia|    13|
|        Cook Islands|       United States|    13|
|            Bulgaria|       United States|     3|
|       United States|Saint Kitts and N...|   145|
|             Uruguay|       United States|    43|
|       United States|               Haiti|   225|
|Bonaire, Sint Eus...|       United States|    58|
|              Greece|       United States|    30|
+--------------------+--------------------+------+

In [17]:
df2.sort('count')

DataFrame[DEST_COUNTRY_NAME: string]

In [18]:
df2.sort('count').show()

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|       United States|
|              Kosovo|
|              Zambia|
|       United States|
|               Malta|
|       United States|
|            Suriname|
|       United States|
|            Djibouti|
|        Burkina Faso|
|Saint Vincent and...|
|       United States|
|       United States|
|             Moldova|
|              Cyprus|
|       United States|
|       United States|
|       United States|
|       United States|
|       Cote d'Ivoire|
+--------------------+
only showing top 20 rows

In [23]:
from pyspark.sql.functions import expr

# 컬럼 추가

df3 = df.withColumn('withinCountry', expr('DEST_COUNTRY_NAME == ORIGIN_COUNTRY_NAME'))

In [24]:
df3.groupBy('withinCountry').count().show()

+-------------+-----+
|withinCountry|count|
+-------------+-----+
|         true|    1|
|        false|  255|
+-------------+-----+

In [25]:
df

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: bigint]

In [27]:
df.where('count<2').show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Croatia|    1|
|       United States|          Singapore|    1|
|             Moldova|      United States|    1|
|               Malta|      United States|    1|
|       United States|          Gibraltar|    1|
|Saint Vincent and...|      United States|    1|
|            Suriname|      United States|    1|
|       United States|             Cyprus|    1|
|        Burkina Faso|      United States|    1|
|            Djibouti|      United States|    1|
|       United States|            Estonia|    1|
|              Zambia|      United States|    1|
|              Cyprus|      United States|    1|
|       United States|          Lithuania|    1|
|       United States|           Bulgaria|    1|
|       United States|            Georgia|    1|
|       United States|            Bahrain|    1|
|       Cote d'Ivoire|      United States|    1|
|       United States|   Papua New Guinea|    1|
|              Kosovo|      United States|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [28]:
df.where('count<2').where('ORIGIN_COUNTRY_NAME != "Croatia"').show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|          Singapore|    1|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [29]:
df.filter('count<2').show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Croatia|    1|
|       United States|          Singapore|    1|
|             Moldova|      United States|    1|
|               Malta|      United States|    1|
|       United States|          Gibraltar|    1|
|Saint Vincent and...|      United States|    1|
|            Suriname|      United States|    1|
|       United States|             Cyprus|    1|
|        Burkina Faso|      United States|    1|
|            Djibouti|      United States|    1|
|       United States|            Estonia|    1|
|              Zambia|      United States|    1|
|              Cyprus|      United States|    1|
|       United States|          Lithuania|    1|
|       United States|           Bulgaria|    1|
|       United States|            Georgia|    1|
|       United States|            Bahrain|    1|
|       Cote d'Ivoire|      United States|    1|
|       United States|   Papua New Guinea|    1|
|              Kosovo|      United States|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [43]:
emp_df=spark.read.format('csv').option('header','true').option('interSchema','true').load('C:\\Users\\daesi\\Downloads\\emp.csv')
emp_df.printSchema()

root
 |-- empno: string (nullable = true)
 |-- ename: string (nullable = true)
 |-- job: string (nullable = true)
 |-- mgr: string (nullable = true)
 |-- hiredate: string (nullable = true)
 |-- sal: string (nullable = true)
 |-- comm: string (nullable = true)
 |-- deptno: string (nullable = true)

In [44]:
emp_df.select('*').where('deptno=20').show()

+-----+-----+-------+----+----------+----+----+------+
|empno|ename|    job| mgr|  hiredate| sal|comm|deptno|
+-----+-----+-------+----+----------+----+----+------+
| 7369|SMITH|  CLERK|7902|1980-12-17| 800|null|    20|
| 7566|JONES|MANAGER|7839|1981-04-02|2975|null|    20|
| 7788|SCOTT|ANALYST|7566|1987-04-19|3000|null|    20|
| 7876|ADAMS|  CLERK|7788|1987-05-23|1100|null|    20|
| 7902| FORD|ANALYST|7566|1981-12-03|3000|null|    20|
+-----+-----+-------+----+----------+----+----+------+

In [45]:
emp_df.selectExpr('count(*)').show()

+--------+
|count(1)|
+--------+
|      15|
+--------+

In [50]:
from pyspark.sql.functions import count

emp_df.select(count('comm')).show()

+-----------+
|count(comm)|
+-----------+
|          4|
+-----------+

In [51]:
emp_df.select('job').distinct().show()

+---------+
|      job|
+---------+
|  ANALYST|
| SALESMAN|
|    CLERK|
|  MANAGER|
|PRESIDENT|
+---------+

In [53]:
from pyspark.sql.functions import min, max

emp_df.select(min('sal'), max('sal')).show()

+--------+--------+
|min(sal)|max(sal)|
+--------+--------+
|    1100|     950|
+--------+--------+

In [54]:
from pyspark.sql.functions import sumDistinct

emp_df.select(sumDistinct('sal')).show()

C:\Users\daesi\anaconda3\lib\site-packages\pyspark\sql\functions.py:214: FutureWarning: Deprecated in 3.2, use sum_distinct instead.
  warnings.warn("Deprecated in 3.2, use sum_distinct instead.", FutureWarning)

+-----------------+
|sum(DISTINCT sal)|
+-----------------+
|          27975.0|
+-----------------+

In [55]:
from pyspark.sql.functions import avg

emp_df.select(avg('sal')).show()

+------------------+
|          avg(sal)|
+------------------+
|2148.3333333333335|
+------------------+

In [56]:
emp_df.groupBy('job').count().show()

+---------+-----+
|      job|count|
+---------+-----+
|  ANALYST|    2|
| SALESMAN|    4|
|    CLERK|    5|
|  MANAGER|    3|
|PRESIDENT|    1|
+---------+-----+